*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/gradle.xml                                                    
.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore (서명 키 - 절대 커밋 금지)
*.jks
*.keystore

# 생성된 파일
/app/release/
